// Copyrigth Simon Peter Grätzer simon(at)graetzer.org

body {
	 background:url('../img/cream_pixels.png');
}

#trailer {
	background:url('../img/trailer.jpg') no-repeat;
	background-size: 100% auto;
}

footer {
	padding: 30px 0;
}
/*
.panel-heading .pull-right {
	margin-top: -20px;
}*/