<ul class="nav nav-pills flex-column">
  <li class="nav-item"><a href="/admin" class="nav-link {{if eq .pp 0 }}active{{end}}"><img class="mr-1" src="/public/icons/flame.svg" alt="" width="22" height="22"> Content</a></li>
  <li class="nav-item"><a class="nav-link {{if eq .pp 1 }}active{{end}}" href="/admin/post/create"><img class="mr-1" src="/public/icons/pencil.svg" alt="" width="22" height="22">Write Post</a></li>
  <li class="nav-item"><a class="nav-link {{if eq .pp 2 }}active{{end}}" href="/admin/comments"><img class="mr-1" src="/public/icons/comment-discussion.svg" alt="" width="22" height="22">Comments <span class="badge">{{commentCount nil}}</span></a></li>
  <li class="nav-item"><a class="nav-link {{if eq .pp 3 }}active{{end}}" href="/admin/media"><img class="mr-1" src="/public/icons/database.svg" alt="" width="22" height="22">Manage Files</a></li>
  <li class="nav-item"><a class="nav-link {{if eq .pp 4 }}active{{end}}" href="/admin/projects"><img class="mr-1" src="/public/icons/rocket.svg" alt="" width="22" height="22">Projects</a></li>
  <li class="nav-item"><a class="nav-link {{if eq .pp 5 }}active{{end}}" href="/admin/about"><img class="mr-1" src="/public/icons/globe.svg" alt="" width="22" height="22">About</a></li>
  {{if .user.IsAdmin}}
  	<li class="nav-item"><a  class="nav-link {{if eq .pp 6 }}active{{end}}" href="/admin/user/create"><img class="mr-1" src="/public/icons/person.svg" alt="" width="22" height="22">Add User</a></li>
  {{end}}
</ul>
