{{set . "title" "Comments"}}
{{append . "moreScripts" "/public/js/admin.js"}}
{{template "header.html" .}}

<div class="row">
	<div class="col-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/admin">Admin Panel</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{.title}}</li>
			</ol>
		</nav>
	</div>
</div>
<div class="row">
	<div class="col-sm-2">
		{{ set . "pp" 2}}
		{{template "Admin/adminMenu.html" .}}
	</div>
	<div class="col-sm-10">
	    <h3>Pending Comments</h3>
		<table class="table table-hover">
		   <thead>
		       <tr>
				<th>Post ID</th>
				<th>Date</th>
				<th>Title</th>
				<th>Body</th>
				<th>Actions</th>
		       </tr>
		   </thead>
		   <tbody>
			{{$user := .user}}
		    {{range .comments}}
		       	<tr class="{{if .Approved}}success{{else}}danger{{end}}" >
					<td>{{.PostID}}</td>
					<td>{{datetime .CreatedAt}}</td>
					<td>{{.Title}}</td>
					<td>{{.Body}}</td>
					<td>
						{{if $user.IsAdmin}}
							{{if .Approved}}
							<a href="/admin/comments/update/{{.ID}}?approved=false" class="btn btn-warning btn-sm">Reject</a>
							{{else}}
							<a href="/admin/comments/update/{{.ID}}?approved=true" class="btn btn-success btn-sm">Approve</a>
							{{end}}
							<div href="/admin/comments/delete/{{.ID}}" class="btn btn-danger btn-sm btn-delete">Delete</a>
						{{end}}
					</td>
				</tr>
			{{end}}
		   </tbody>

		</table>

	</div>
</div>

{{template "footer.html" .}}
