{{if eq .post.PostId -1}}
{{set . "title" "Create a new Post"}}
{{else}}
{{set . "title" "Edit Post"}}
{{end}}

{{append . "moreStyles" "/public/css/Markdown.Editor.css"}}
{{append . "moreScripts" "/public/js/Markdown.Converter.js"}}
{{append . "moreScripts" "/public/js/Markdown.Sanitizer.js"}}
{{append . "moreScripts" "/public/js/Markdown.Editor.js"}}

{{append . "moreStyles" "/public/css/highlight.css"}}
{{/*append . "moreScripts" "/public/js/highlight.js"*/}}
{{append . "moreScripts" "//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"}}

{{template "header.html" .}}


<div class="row">
	<div class="col-sm-2" style="min-width:160px">
		{{ set . "pp" 1}}
		{{template "Admin/adminMenu.html" .}}
	</div>
	<div class="col-sm-5">
		<form role="form" method="POST" action="/admin/post/{{.post.PostId}}">
			<div class="form-group">
				<label for="inputPostTitle">Post Title</label>
				<input type="text" class="form-control" id="inputPostTitle" name="title" placeholder="Titel" value="{{.post.Title}}" />
			</div>
			<div class="form-group">
				<label for="wmd-input">Content</label>
				<div>
            		<div id="wmd-button-bar"></div>
					<textarea class="form-control" rows="20" id="wmd-input" name="body">{{.post.Body}}</textarea>
				</div>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="published" value="true" {{if .post.Published}}checked{{end}} /> Published (publicly visible)
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="isPage" value="true" {{if .post.IsPage}}checked{{end}} /> Is a Page that should appear in the menu
				</label>
			</div>
			<div class="form-group">
				<label for="inputPostPageOrder">Page Order</label>
				<input type="number" class="form-control" id="inputPostPageOrder" name="pageOrder" placeholder="0" value="{{.post.PageOrder}}" />
			</div>
			<button type="submit" class="btn btn-default">Save</button>
		</form>
	</div>
	<div class="col-xs-5">
		<div id="wmd-preview"></div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		var converter = Markdown.getSanitizingConverter();
		var editor = new Markdown.Editor(converter);
		editor.hooks.chain("onPreviewRefresh", function() {
			console.log("the preview has been updated");
        	// hljs.initHighlighting();
			$('pre code').each(function(i, e) {hljs.highlightBlock(e)});
    	});
		editor.run();
	});
</script>

{{template "footer.html" .}}
