{{if eq .stay.ID -1}}
{{set . "title" "Where are you now?"}}
{{else}}
{{set . "title" "Modify Stay"}}
{{end}}

{{template "header.html" .}}

<div class="row">
	<div class="col-sm-10 col-sm-offset-2">
		<ol class="breadcrumb">
		  <li><a href="/admin">Admin Panel</a></li>
      <li><a href="/admin/about/">About</a></li>
		  <li class="active">{{.title}}</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-sm-2">
		{{ set . "pp" 5}}
		{{template "Admin/adminMenu.html" .}}
	</div>

	<div class="col-sm-8">
		<h3>{{.title}}</h3>
		<form role="form" method="POST" action="/admin/about/stays/{{.stay.ID}}">
			<div class="form-group">
				<label for="selectorStay">Place</label>
        <select class="form-control" id="selectorStay" name="stay.PlaceID">
					{{$selected := .stay.PlaceID}}
          {{range .places}}
          <option value="{{.ID}}" {{if eq .ID $selected}}selected{{end}}>{{.Name}}</option>
          {{end}}
        </select>
			</div>
			<div class="form-group">
				<label for="inputFrom">From</label>
				<input type="text" class="form-control" id="inputFrom" name="stay.StartedAt" placeholder="25.05.1992" value="{{date .stay.StartedAt}}" />
			</div>
			<div class="form-group">
				<label for="inputUntil">Until</label>
        <input type="text" class="form-control" id="inputUntil" name="stay.EndedAt" placeholder="25.05.1992" value="{{date .stay.EndedAt}}" />
			</div>
      <div class="form-group">
				<label for="inputUrl">Url</label>
				<input type="text" class="form-control" id="inputUrl" name="stay.Url" placeholder="http://" value="{{.stay.Url}}" />
			</div>

			<input type="hidden" name="stay.ID" value="{{.stay.ID}}" />
			<button type="submit" class="btn btn-default">Save</button>
		</form>
	</div>
</div>
<script src='//bgrins.github.com/spectrum/spectrum.js'></script>
<link rel='stylesheet' href='//bgrins.github.com/spectrum/spectrum.css' />

{{template "footer.html" .}}
