{{if eq .profile.UserId -1}}
{{set . "title" "Create a new User"}}
{{else}}
{{set . "title" "Modify User Profile"}}
{{end}}

{{template "header.html" .}}


<div class="row">
	<div class="col-sm-2" style="min-width:160px">
		{{ set . "pp" 4}}
		{{template "Admin/adminMenu.html" .}}
	</div>
	<div class="col-sm-5">
		<ol class="breadcrumb">
		  <li><a href="/admin">Admin Panel</a></li>
		  <li class="active">{{.title}}</li>
		</ol>
	
		<h3>User Profile</h3>
		<form role="form" method="POST" action="/admin/user/save">
			<div class="form-group">
				<label for="inputUserName">Name</label>
				<input type="text" class="form-control" id="inputUserName" name="name" placeholder="Jon Doe" value="{{.profile.Name}}" />
			</div>
			<div class="form-group">
				<label for="inputUserEmail">Email address</label>
				<input type="email" class="form-control" id="inputUserEmail" name="email" placeholder="jon.doe@gmail.com" value="{{.profile.Email}}" />
			</div>
			<div class="form-group">
				<label for="inputUserPassword">Password (At least 8 characters)</label>
				<input type="password" class="form-control" id="inputUserPassword" name="password" placeholder="Password" value="{{.profile.Password}}" />
			</div>
			<input type="hidden" name="userId" value={{.profile.UserId}} />
			<button type="submit" class="btn btn-default">Save</button>
		</form>
	</div>
	<div class="col-xs-5">
		<div id="wmd-preview"></div>
	</div>
</div>

{{template "footer.html" .}}
