{{set . "title" "Admin Panel"}}
{{template "header.html" .}}

<div class="row">
	<div class="col-sm-10 col-sm-offset-2">
		<ol class="breadcrumb">
		  <li class="active">Admin Panel</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-sm-2">
		{{ set . "pp" 0}}
		{{template "Admin/adminMenu.html" .}}
	</div>
	<div class="col-sm-10">
	    <h3>Posts</h3>
		<table class="table table-hover">
		   <thead>
		       <tr>
				<th>#ID</th>
				<th>Title</th>
				<th>Published</th>
				<th>Type</th>
				<th>Last Update Date</th>
				<th>Author</th>
				<th>Actions</th>
		       </tr>
		   </thead>
		   <tbody>
			{{$user := .user}}
		    {{range .posts}}
		       	<tr class="{{if .Published}}success{{else}}warning{{end}}">
					<td>{{.PostId}}</td>
					<td>{{.Title}}</td>
					<td>{{if not .Published}}Not {{end}}Published</td>
					<td>{{if .IsPage}}Page{{else}}Blogpost{{end}}</td>
					<td>{{.UpdatedTime.Format "Mon Jan 2 15:04:05"}}</td>
					<td>{{.User.Name}}</td>
					<td>
						<a href="/admin/post/{{.PostId}}" class="btn btn-primary btn-sm">Edit</a>
						{{if eq $user.UserId .AuthorId}}
							<a href="/admin/post/delete/{{.PostId}}" class="btn btn-danger btn-sm">Delete</a>
						{{end}}
					</td>
				</tr>
			{{end}}
		   </tbody>
		</table>
		
		<h3>Users</h3>
		<table class="table table-striped">
		   <thead>
		       <tr>
				<th>#ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Type</th>
				<th>Actions</th>
		       </tr>
		   </thead>
		   <tbody>
		    {{range .users}}
		       	<tr>
					<td>{{.UserId}}</td>
					<td>{{.Name}}</td>
					<td>{{.Email}}</td>
					<td>{{if .IsAdmin}}Administrator{{else}}User{{end}}</td>
					<td>
						<a href="/admin/user/{{urlquery .Email}}" class="btn btn-primary btn-sm">Edit</a>
						{{if $user.IsAdmin}}
							<a href="/admin/user/delete/{{.Email}}" class="btn btn-danger btn-sm">Delete</a>
						{{end}}
					</td>
				</tr>
			{{end}}
		   </tbody>
		
		</table>
	</div>
</div>

{{template "footer.html" .}}
