{{set . "title" "Admin Panel"}} 
{{append . "moreScripts" "/public/js/admin.js"}}
{{template "header.html" .}}

<div class="row">
	<div class="col-12">
		<ol class="breadcrumb">
			<li class="active">Admin Panel</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-2">
		{{ set . "pp" 0}} {{template "Admin/adminMenu.html" .}}
	</div>
	<div class="col-10">
		<h3>Posts</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>Created</th>
					<th>Updated</th>
					<th>Author</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{{$user := .user}} {{range .posts}}
				<tr class="table-{{if .Published}}success{{else}}info{{end}}" id="post-{{.ID}}">
					<td>{{.Title}}</td>
					<td>{{date .CreatedAt}}</td>
					<td>{{date .UpdatedAt}}</td>
					<td>{{username .UserID}}</td>
					<td>
						<a href="/admin/post/{{.ID}}" class="btn btn-primary btn-sm">Edit</a>
						{{if eq $user.ID .UserID}}<div class="btn btn-danger btn-sm btn-delete" 
						data-href="/admin/post/{{.ID}}" data-hide="#post-{{.ID}}">Delete</a>{{end}}
					</td>
				</tr>
				{{end}}
			</tbody>
		</table>

		<h3>Users</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Type</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{{range .users}}
				<tr>
					<td>{{.ID}}</td>
					<td>{{.Name}}</td>
					<td>{{.Email}}</td>
					<td>{{if .IsAdmin}}Administrator{{else}}User{{end}}</td>
					<td>
						<a href="/admin/user/{{urlquery .Email}}" class="btn btn-primary btn-sm">Edit</a> {{if and ($user.IsAdmin) (not (eq $user.ID .ID))}}
						<div href="/admin/user/{{.Email}}" class="btn btn-danger btn-sm btn-delete">Delete</a> {{end}}
					</td>
				</tr>
				{{end}}
			</tbody>
		</table>
	</div>
</div>

{{template "footer.html" .}}
