{{set . "title" "Uploaded Files"}}
{{append . "moreStyles" "/public/css/dropzone.css"}}
{{append . "moreScripts" "/public/js/dropzone.js"}}
{{template "header.html" .}}

<div class="row">
	<div class="col-sm-10 col-sm-offset-2">
		<ol class="breadcrumb">
		  <li><a href="/admin">Admin Panel</a></li>
		  <li class="active">{{.title}}</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-sm-2">
		{{ set . "pp" 2}}
		{{template "Admin/adminMenu.html" .}}
	</div>
	<div class="col-sm-10">
		<h3>Uploaded Files</h3>
		<table class="table table-bordered" id="filesTable">
		    <thead>
				<tr>
				    <th>Name</th>
				    <th>Size</th>
				    <th>Action</th>				
				</tr>
			</thead>
		    <tbody>
				{{range .files}}
				<tr>
		            <td>{{.Name}}</td>
					<td>{{.Size}} Bytes</td>
					<td>
						<a title="View this file" href="/public/uploads/{{urlquery .Name}}" class="btn btn-primary btn-sm">View</a>
						<a title="Delete this file" href="/admin/media/{{urlquery .Name}}/delete" class="btn btn-danger btn-sm">Delete</a>
					</td>
				</tr>
				{{end}}
		    </tbody>
		</table>
	
	    <h3>Upload Zone</h3>
		<form action="/admin/media/upload" class="dropzone" id="myAwesomeDropzone" method="POST" enctype="multipart/form-data">
			<div class="fallback">
    			<input name="file" type="file" multiple />
				<button type="submit" class="btn btn-default">Save</button>
  			</div>
		</form>
		
		<script type="text/javascript" charset="utf-8">
		/* <![CDATA[ */
		var uploadPrefix = "{{.uploadPrefix}}";
	    (function() {
			Dropzone.options.myAwesomeDropzone = {
				init: function() {
					this.on("addedfile", function(file) {
						var enc = encodeURIComponent(uploadPrefix+file.name);
						
						$("#filesTable tbody").prepend('<tr>'+
						'<td>'+file.name+'</td>'+
						'<td>'+file.size+' Bytes</td>'+
						'<td><a title="View this file" href="/public/uploads/'+enc+'" class="btn btn-primary btn-sm">View</a> '+
						'<a title="Delete this file" href="/admin/uploads/delete/'+enc+'" class="btn btn-danger btn-sm">Delete</a></td>'+
						'</tr>');
					});
				}
			};
	    })();
	    /* ]]> */
		</script>
	</div>
</div>

{{template "footer.html" .}}
