{{set . "title" "Projects"}} 
{{append . "moreScripts" "/public/js/admin.js"}}
{{template "header.html" .}}

<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Admin Panel</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{.title}}</li>
      </ol>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-2">
    {{ set . "pp" 4}} {{template "Admin/adminMenu.html" .}}
  </div>
  {{$user := .user}}
  <div class="col-10">
    <h3>Projects</h3><a href="/admin/projects/create">Create new</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Image</th>
          <th>Tags</th>
          {{if $user.IsAdmin}}<th>Actions</th>{{end}}
        </tr>
      </thead>
      <tbody>
        {{range .projects}}
        <tr id="project-{{.ID}}" {{if .Hidden}}class="table-info"{{end}}>
          <td>{{.Title}}</td>
          <td><img src="{{.CoverUrl}}" alt="Project Logo"></td>
          <td>{{.Tags}}</td>
          {{if $user.IsAdmin}}<td>
            <a href="/admin/projects/{{.ID}}" class="btn btn-primary btn-sm">Edit</a>
            <span class="btn btn-danger btn-sm btn-delete" 
                  data-href="/admin/projects/{{.ID}}" data-hide="#project-{{.ID}}">Delete</a>
          </td>{{end}}
        </tr>
        {{end}}
      </tbody>
    </table>

  </div>
</div>
<style type="text/css">
img {
  max-height: 200px;
}
</style>

{{template "footer.html" .}}
