{{set . "title" "About"}}
{{append . "moreScripts" "/public/globe/Detector.js"}}
{{append . "moreScripts" "/public/globe/three.min.js"}}
{{append . "moreScripts" "/public/globe/globe.js"}}
{{template "header.html" .}}

<div class="row">
	<div class="col-sm-11">
		<div class="row">
			<div class="col-sm-2 col-lg-1 hidden-xs">
				<img src="/public/img/profile.jpg" alt="Profile image" class="img-circle" style="max-width:100%" />
			</div>
			<div class="col-sm-10 col-lg-11">
			  My name is Simon and I'm a software developer from Germany. I mostly work on mobile app's (<strong>iOS</strong> and
				<strong>Android</strong>). I also have an active interest in
					<strong>Computer Graphics</strong>,
					<strong>Machine Learning</strong> and
					<strong>Web Development</strong>. If you want to know what I'm up to, look at this <a href="/projects" title="Project List">list of projects</a> or go to <a href="https://github.com/graetzer/" title="My Github profile">Github</a>.
					I am also pursuing a master degree in CS at the RWTH Aachen University.<br/>If you want to get in touch shoot me an email at <strong>simon(at)graetzer.org</strong>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3 hidden-xs" id="stays-list" style="padding: 10px 15px 0 20px">
				Trips &amp; Locations
				{{range .stays}}{{$place := place .}}
				<div class="row" onclick="javascript:showPlace({{.Id}}, {{$place.Id}})" id="stay-{{.Id}}">
					<div class="col-xs-4" style="padding:0">
						<img src="{{$place.CoverUrl}}" alt="Project Logo" class="img-circle" />
					</div>
					<div class="col-xs-8">
						<h6><a href="{{.Url}}" target="_blank" title="Pictures of my stay">{{$place.Name}}</a></h6>
						<small>{{if eqtime .StartedAt .EndedAt}}{{date .StartedAt}} - <strong>Now</strong>{{else}}{{date .StartedAt}} - {{date .EndedAt}}{{end}}</small>
					</div>
				</div>{{end}}
			</div>
			<div class="col-sm-9" id="globe-container">
			</div>
		</div>
	</div>
	<!-- ./col-sm-11 -->

	<div class="col-sm-1">
		{{template "App/social.html" .}}
	</div>
</div>
<!-- /.row -->
<script type="text/javascript">
	var globe, places, active;
	window.onload = function() {
		console.log("onload");

		var container = document.getElementById('globe-container');
		if (!Detector.webgl) {
			Detector.addGetWebGLMessage({parent:container});
		} else {
			container.style.backgroundImage = "/public/globe/loading.gif";
			places = JSON.parse('{{json .places}}');
			var globeImg = new Image();
			globeImg.onload = function() {
				// In memory drawing
				var canvas = document.createElement('canvas');
				canvas.width = globeImg.width;
				canvas.height = globeImg.height;
				var context = canvas.getContext('2d');
				context.drawImage(globeImg, 0, 0);
				var worldMap = context.getImageData(0, 0, globeImg.width, globeImg.height);

				var opts = {};
				//{{if .stays}}{{$stay := index .stays 0}}{{$place := place $stay}}
				opts.lat = parseFloat("{{$place.Latitude}}");
				opts.lng = parseFloat("{{$place.Longitude}}");
				active = $('#stay-{{$stay.Id}}');
				active.addClass("active");
				//{{end}}
				globe = new DAT.Globe(container, opts);
				globe.setData(worldMap, places);
				globe.animate();
				container.style.backgroundImage = 'none'; //*/
			};
			globeImg.src = "/public/globe/globe.png";
		}
	};

	function showPlace(stayId, placeId) {
		var place;
		for (var i = 0; i < places.length; i++) {
			if (places[i].id == placeId) {
				place = places[i];
				break;
			}
		}
		if (place) globe.showLatLng(place.lat, place.lng);
		if (active) active.removeClass("active");
		active = $('#stay-' + stayId);
		active.addClass("active");
	}
</script>
{{template "footer.html" .}}
