{{set . "title" .post.Title}} {{template "header.html" .}}

<div class="row">
	<div class="col-sm-12 panel panel-default">
		<p>I’m a 23 year old software developer living in Germany. I started learning programming when I was around 12 years old, I started working as a developer when I was 16. Currently I am mostly concerned with mobile app development for
			<strong>iOS</strong> and
			<strong>Android</strong>. I also have an active interest in
			<strong>Computer Graphics</strong>,
			<strong>Machine Learning</strong> and
			<strong>web development</strong>. If you want to see what I'm up to you can look at a list of my <a href="/projects" title="Project List">projects</a> or go to my <a href="https://github.com/graetzer/" title="My Github profile">github profile</a>. I am currently
			working towards my master degree in computer science at the RWTH Aachen University.</p>
		<p>If you want to get in touch you can see my current approximate location on the map below. Shoot me an email at: simon(at)graetzer.org</p>

		<div class="row">
			<div class="col-sm-10" id="globe-container"></div>
			<div class="col-sm-2" id="stays-list">
				<h6>Trips &auml; Locations</h6>
				{{range .stays}}{{$place := place .}}
				<div class="row" onclick="javascript:showPlace({{.Id}}, {{$place.Id}})" id="stay-{{.Id}}">
					<div class="col-xs-5" style="padding:0">
						<img src="{{$place.CoverUrl}}" alt="Project Logo" class="img-circle" />
					</div>
					<div class="col-xs-7">
						<h6><a href="{{.Url}}" target="_blank" title="Pictures of my stay">{{$place.Name}}</a></h6>
						<small>{{if eqtime .StartedAt .EndedAt}}{{date .StartedAt}}{{else}}{{date .StartedAt}} - {{date .EndedAt}}{{end}}</small>
					</div>
				</div>{{end}}
			</div>
		</div>
	</div>
</div>
<!-- /.row -->

<script type="text/javascript" src="/public/globe/Detector.js"></script>
<script type="text/javascript" src="/public/globe/three.min.js"></script>
<script type="text/javascript" src="/public/globe/globe.js"></script>
<script type="text/javascript">
	var globe, places, active;
	if (!Detector.webgl) {
		Detector.addGetWebGLMessage();
	} else {
		var container = document.getElementById('globe-container');

		container.style.backgroundImage = "/public/globe/loading.gif";
		places = JSON.parse("{{json .places}}");
		var globeImg = new Image();
		globeImg.onload = function() {
			// In memory drawing
			var canvas = document.createElement('canvas');
			canvas.width = globeImg.width;
			canvas.height = globeImg.height;
			var context = canvas.getContext('2d');
			context.drawImage(globeImg, 0, 0);
			var worldMap = context.getImageData(0, 0, globeImg.width, globeImg.height);

			// Visualize sampling pattern
			/*var data = worldMap.data, xx = 0, ys, yy;
			for (y = 0; y < worldMap.height; y += 5) {
				ys = y / worldMap.height;
	      x = 0;
	      if (0.123 < ys && ys < 0.72) step = 5;
	      else {
	        if (ys <= 0.123) {// 2^(3 + distBorder) at least 8, doubles every 5 px
	          step = Math.floor(Math.pow(2, (0.123 * worldMap.height - y) / 5) + 3);
	        } else {
	          step = Math.floor(Math.pow(2, (y - 0.72*worldMap.height) / 10) + 3);
	        }
	        x = Math.floor(step);
	      }

	      for (x = 0; x < worldMap.width; x += step) {
	        i = (y * worldMap.width + x) * 4;
					data[i] = 0;
					data[i + 1] = 255;
					data[i + 2] = 255;
					xx++;
	      }
	    }
			console.log("%d nodes", xx);
			context.putImageData(worldMap, 0, 0);
			container.appendChild(canvas);//*/
			var opts;
			if (places && places.length > 0) opts = places[0];
			globe = new DAT.Globe(container, opts);
			globe.setData(worldMap, places);
			globe.animate();
			container.style.backgroundImage = 'none'; //*/
		};
		globeImg.src = "/public/globe/globe.png";
	}

	function showPlace(stayId, placeId) {
		var place;
		for (var i = 0; i < places.length; i++) {
			if (places[i].id == placeId) {
				place = places[i];
				break;
			}
		}
		if (place) globe.showLatLng(place.lat, place.lng);

		if (active) active.removeClass("active");
		active = $('#stay-' + stayId);
		active.addClass("active");
	}
</script>
<style type="text/css">
	#globe-container {
		padding-left: 0px;
		padding-right: 0px;
		border-right: 1px solid #DDD;
	}

	#stays-list img {
		width: 100%;
	}

	#stays-list {
		padding: 5px 20px 5px 20px;
	}

	#stays-list .row {
		padding-top: 5px;
		border-radius: 4px;
	}

	#stays-list .row:hover {
		background-color: #EEE;
	}

	#stays-list .row.active,
	#stays-list .row.active a {
		color: #fff;
		background-color: #337AB7;
	}

	canvas {
		background-color: #fff;
	}
</style>
{{template "footer.html" .}}
