{{template "App/trailer.html" .}}

<div class="row">
	<div class="col-9">
	{{$user := .user}}
	{{range .posts}}
	<div class="card">
		<h3 class="card-header">{{.Title}}</h3>
		<div class="card-body">
			<p class="card-text">{{markdown .Body}}
		</div>
		<div class="card-footer text-muted">
			Last Updated {{datetime .UpdatedAt}}
			<a class="card-link" href="/post/{{.ID}}/{{urlquery .Title}}#commentForm" title="Make a comment">
			{{$count := commentCount .}}
			{{if eq $count 0}}Comment on this article{{else}}
			{{if eq $count 1}}One comment so far{{else}}
			View all {{$count}} Comments{{end}}{{end}}</a>
		</div>
	</div>
	{{end}}

	{{/* Handling of next/back/empty */}}
	{{if eq .offset 0 | not}}
		<a href="/?offset={{ sub .offset 3}}">&laquo; Back</a>
	{{end}}
	{{if len .posts | eq 0}}
		<h2>Oops!</h2>
		<p>There seems to be no content here</p>
	{{else}}
		{{if len .posts | eq 5}}
			<a href="/?offset={{add .offset 3}}">Next &raquo;</a>
		{{end}}
	{{end}}
	</div><!-- ./col-sm-11 -->

	<div class="col-3">
	<p>
		Hello my name is Simon<br />
		TODO
	</p>

	{{template "App/social.html" .}}
	</div>
</div><!-- /.row -->

{{template "footer.html" .}}
