{{set . "title" "Technical Stuff"}}
{{append . "moreStyles" "/public/css/highlight.css"}}
{{append . "moreScripts" "//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"}}
{{template "header.html" .}}

<header>
<div class="jumbotron" id="trailer">
   <h1>Technical Stuff</h1>
   <p class="lead">Stuff on iOS, Android, GoLang and more.</p>
</div>
</header>

{{$user := .user}}
{{range .posts}}
<article>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">{{.Title}}<small class="pull-right">{{.UpdatedTime.Format "Mon Jan 2 15:04:05"}}</small></h3>
		{{if eq $user.UserId .AuthorId}}
			<a href="/admin/post/{{.PostId}}" title="Edit this Post">Edit</a>
		{{end}}
	  </div>
	  <div class="panel-body">
	    {{markdown .Body}}
		<a href="/post/{{.PostId}}/{{urlquery .Title}}#commentForm" title="Make a comment">Comment on this post</a>
	  </div>
	</div>
</article>
{{end}}

<a href="/?offset=10">Next &raquo;</a>



<link rel="stylesheet" type="text/css" href="/public/css/highlight.css">
<script type="text/javascript" src="/public/js/highlight.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

{{template "footer.html" .}}
