{{set . "title" .post.Title}} {{template "header.html" .}} {{template "App/trailer.html" .}}

<div class="row">
	<div class="col-sm-8">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Globe</h3>
			</div>
			<div class="panel-body" id="globe-container">
			</div>
		</div>

	</div>
	<div class="col-sm-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Where am I now
				</h3>
			</div>
			<div class="panel-body">
		{{range .locations}}
		<p>{{.Name}}<small class="pull-right">{{datetime .UpdatedAt}}</small>
				<img src="{{.CoverUrl}}" alt="Project Logo" class="img-circle" />
				<a href="{{.Url}}">Image Gallery</a></p>

		{{end}}
	</div>
</div>
	</div>
	<!-- ./col-sm-11 -->

	<div class="col-sm-1">
		{{template "App/social.html" .}}
	</div>
</div>
<!-- /.row -->

<script type="text/javascript" src="/public/globe/Detector.js"></script>
<script type="text/javascript" src="/public/globe/three.min.js"></script>
<script type="text/javascript" src="/public/globe/globe.js"></script>
<script type="text/javascript">
	if (!Detector.webgl) {
		Detector.addGetWebGLMessage();
	} else {
		var container = document.getElementById('globe-container');
		var globe = new DAT.Globe(container);
		container.style.backgroundImage = "/public/globe/loading.gif";

		var globeImg = new Image();
		globeImg.onload = function() {
			// In memory drawing
			var canvas = document.createElement('canvas');
			canvas.width = globeImg.width;
			canvas.height = globeImg.height;
			var context = canvas.getContext('2d');
			context.drawImage(globeImg, 0, 0 );
			var imageData = context.getImageData(0, 0, globeImg.width, globeImg.height);

			var locations = [];
			globe.setData(imageData, locations);
			globe.createPoints();
			globe.animate();
			container.style.backgroundImage = 'none';//remove loading*/
		};
		globeImg.src = "/public/globe/globe.png";
	}
</script>

{{template "footer.html" .}}
