{{set . "title" .page.Title}}
{{append . "moreStyles" "/public/css/highlight.css"}}
{{append . "moreScripts" "//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"}}
{{template "header.html" .}}

<header>
<div class="jumbotron" id="trailer">
   <h1>Technical Stuff</h1>
   <p class="lead">Stuff on iOS, Android, GoLang and more.</p>
</div>
</header>

<article>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">{{.page.Title}}<small class="pull-right">{{.page.UpdatedTime.Format "Mon Jan 2 15:04:05"}}</small></h3>
	  </div>
	  <div class="panel-body">
	    {{markdown .page.Body}}
	  </div>
	</div>
</article>

<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

{{template "footer.html" .}}
