{{set . "title" .post.Title}}
{{append . "moreScripts" "https://www.google.com/recaptcha/api.js"}}
{{template "header.html" .}}
{{template "App/trailer.html" .}}

<div class="row">
	<div class="col-sm-11">
	<main>
	<article>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{.post.Title}}<small class="pull-right">{{datetime .post.UpdatedAt}}</small></h3>
			<small>By {{username .post.UserId}}</small>
			{{if .user}}{{if eq .user.Id .post.UserId}}
			<a href="/admin/post/{{.post.Id}}" title="Edit this Post">Edit</a>
			{{end}}{{end}}
		  </div>
		  <div class="panel-body">
		    {{markdown .post.Body}}
		  </div>
		</div>
	</article>
	</main>
	</div><!-- ./col-sm-11 -->

	<div class="col-sm-1">
	{{template "App/social.html" .}}
	</div>
</div><!-- /.row -->

<section>
<div class="row">
	<div class="col-sm-3">
		<h4>Leave a comment</h4>
		<form id="commentForm" role="form" method="POST" action="/post/comment/{{.post.Id}}">
		  <div class="form-group {{if .errors.name}}has-error{{end}}">
		    <label for="inputName">Name</label>
		    <input type="text" class="form-control" id="inputName" placeholder="Jon Doe" name="name" value="{{.flash.name}}">
			<span class="help-block">Maximum of 50 characters.</span>
		  </div>

		  <div class="form-group {{if .errors.title}}has-error{{end}}">
		    <label for="inputTitle">Title</label>
		    <input type="text" class="form-control" id="inputTitle" placeholder="Comment title" name="title" value="{{.flash.title}}">
			<span class="help-block">Max 100 characters.</span>
		  </div>

		  <div class="form-group {{if .errors.body}}has-error{{end}}">
		    <label for="textareaBody">Comment</label>
			<textarea class="form-control" rows="5" id="textareaBody" name="body">{{.flash.body}}</textarea>
			<span class="help-block">Required. Max 500 characters. Markdown is supported, but no images. Every Post will be checked befor it is shown</span>
		  </div>

			<div class="g-recaptcha" data-sitekey="{{.recaptchaSiteKey}}"></div>

		  <div class="form-group">
		    <button type="submit" class="btn btn-default">Send</button>
		  </div>
		</form>
	</div>

	{{if .comments}}
	<div class="col-sm-8">
		<h4>Comments ({{len .comments}})</h4>
		{{range .comments}}
			<div class="panel panel-warning">
			  <div class="panel-heading">
			    <h4 class="panel-title">{{.Title}}
				<small class="pull-right">{{datetime .CreatedAt}}</small>
				</h4>
				<small>By {{with .Name}}{{.}}{{else}}Anonymous{{end}}</small>
			  </div>
			  <div class="panel-body">
			    {{markdownSave .Body}}
			  </div>
			</div>
		{{end}}
	</div>
	{{end}}
</div>
</section>

{{template "footer.html" .}}
