{{set . "title" .post.Title}}
{{template "header.html" .}}
{{template "App/trailer.html" .}}

<div class="row">
	<div class="col-sm-11">
	<main>
	<article>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{.post.Title}}<small class="pull-right">{{.post.UpdatedTime.Format "Mon Jan 2 15:04:05"}}</small></h3>
			<small>By {{.post.User.Name}}</small>
			{{if eq .user.UserId .post.AuthorId}}
				<a href="/admin/post/{{.PostId}}" title="Edit this Post">Edit</a>
			{{end}}
		  </div>
		  <div class="panel-body">
		    {{markdown .post.Body}}
		  </div>
		</div>
	</article>
	</main>
	</div><!-- ./col-sm-11 -->
	
	<div class="col-sm-1">
	{{template "App/social.html" .}}
	</div>
</div><!-- /.row -->

{{if not .post.IsPage}}
<section>
<div class="row">
	<div class="col-sm-4">
		<h3>Leave a comment</h3>
		<form id="commentForm" role="form" method="POST" action="/post/comment/{{.post.PostId}}">
		  <div class="form-group {{if .errors.name}}has-error{{end}}">
		    <label for="inputName">Name</label>
		    <input type="text" class="form-control" id="inputName" placeholder="Jon Doe" name="name" value="{{.flash.name}}">
			<span class="help-block">Maximum of 50 characters.</span>
		  </div>
		
		  <div class="form-group {{if .errors.email}}has-error{{end}}">
		    <label for="inputEmail">Email address</label>
		    <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" value="{{.flash.email}}">
			<span class="help-block">Required, will not be published.</span>
		  </div>
		
		  <div class="form-group {{if .errors.title}}has-error{{end}}">
		    <label for="inputTitle">Title</label>
		    <input type="text" class="form-control" id="inputTitle" placeholder="Comment title" name="title" value="{{.flash.title}}">
			<span class="help-block">Max 100 characters.</span>
		  </div>
		
		  <div class="form-group {{if .errors.body}}has-error{{end}}">
		    <label for="textareaBody">Comment</label>
			<textarea class="form-control" rows="5" id="textareaBody" name="body">{{.flash.body}}</textarea>
			<span class="help-block">Required. Max 500 characters. Markdown is supported, but no images. Every Post will be checked befor it is shown</span>
		  </div>
		
			<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k={{.recaptchaKey}}">
		    </script>
		    <noscript>
		       <iframe src="http://www.google.com/recaptcha/api/noscript?k={{.recaptchaKey}}"
		           height="300" width="500" style="border:0;"></iframe><br>
		       <textarea name="recaptcha_challenge_field" rows="3" cols="40">
		       </textarea>
		       <input type="hidden" name="recaptcha_response_field"
		           value="manual_challenge">
		    </noscript>

		  <div class="form-group">
		    <button type="submit" class="btn btn-default">Send</button>
		  </div>
		</form>
	</div>
	
	{{if .comments}}
	<div class="col-sm-7">
		<h3>Comments ({{len .comments}})</h3>
		{{range .comments}}
			<div class="panel panel-warning">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{.Title}}
				<small class="pull-right">{{.CreatedTime.Format "Mon Jan 2 15:04:05"}}</small>
				</h3>
				By {{with .Name}}{{.}}{{else}}Anonymous{{end}}
			  </div>
			  <div class="panel-body">
			    {{markdownSave .Body}}
			  </div>
			</div>
		{{end}}
	</div>
	{{end}}
</div>
</section>
{{end}}

{{template "footer.html" .}}
