{{set . "title" .post.Title}} {{template "header.html" .}}

<div class="row">
	<div class="col-sm-11">
		<main id="project-list">
			{{range .projects}}
			<article>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{.Title}}{{/*
							<small class="pull-right">{{datetime .UpdatedAt}}</small>
						*/}}</h3>
					</div>
					<div class="panel-body">
						<div class="col-sm-3">
							<img src="{{.CoverUrl}}" alt="Project Logo" class="img-square" />
						</div>
						<div class="col-sm-7">
							{{markdown .Description}}
							{{if .RepoUrl}}<a href="{{.RepoUrl}}" title="Repository or project website" target="_blank">More Information</a>{{end}}
						</div>
					</div>
				</div>
			</article>
			{{end}}
		</main>
	</div>
	<!-- ./col-sm-11 -->

	<div class="col-sm-1">
		{{template "App/social.html" .}}
	</div>
</div>
<style type="text/css">
	#project-list img {
		width: 100%;
	}
</style>
{{template "footer.html" .}}
