{{set . "title" .post.Title}}{{template "header.html" .}}

<div class="row">
	<div class="col-sm-11">
		<main id="project-list">
			{{range .projects}}
			<article>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{.Title}}
							<small class="pull-right">{{.Tags}}</small>
						</h3>
					</div>
					<div class="panel-body">
						<div class="col-sm-4">
							{{if .CoverUrl}}<img src="{{.CoverUrl}}" alt="Project Logo" class="img-square" />
							{{else}}<div class="pattern" style="background:url('{{pattern .ID}}')"></div>{{end}}
						</div>
						<div class="col-sm-8">
							{{markdown .Description}}
							{{if .RepoUrl}}<a class="btn btn-info" role="button" href="{{.RepoUrl}}" title="Repository or project website" target="_blank">More Information</a>{{end}}
						</div>
					</div>
				</div>
			</article>
			{{end}}
		</main>
	</div>
	<!-- ./col-sm-11 -->

	<div class="col-sm-1">
		{{template "App/social.html" .}}
	</div>
</div>
<style type="text/css">
	#project-list img {
		max-width: 100%;
		max-height: 250px;
	}
	.pattern {
		width:100%;
		height:150px;
	}
</style>
{{template "footer.html" .}}
