{{set . "title" .post.Title}} {{template "header.html" .}} {{template "App/trailer.html" .}}

<div class="row">
	<div class="col-sm-11">
		<main>
			{{range .projects}}
			<article>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{.Title}}
							<small class="pull-right">{{datetime .UpdatedAt}}</small>
						</h3>
					</div>
					<div class="panel-body">
						<img src="{{.ImageUrl}}" alt="Project Logo" class="img-circle" />
						<p>{{.Description}}</p>
						<a href="{{.RepoUrl}}" title="Make a comment">Repository</a>
					</div>
				</div>
			</article>
			{{end}}
		</main>
	</div>
	<!-- ./col-sm-11 -->

	<div class="col-sm-1">
		{{template "App/social.html" .}}
	</div>
</div>
<!-- /.row -->

{{template "footer.html" .}}
