{{set . "title" "Home"}}
{{template "header.html" .}}

{{range .posts}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{.Title}}</h3>
  </div>
  <div class="panel-body">
    {{markdown .Body}}
  </div>
</div>
{{end}}

<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>


{{if not .posts}}
<h2>Oops!</h2>
<p>It seems that there are no results here</p>
{{end}}



<link rel="stylesheet" type="text/css" href="/public/css/highlight.css">
<script type="text/javascript" src="/public/js/highlight.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

{{template "footer.html" .}}
